*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.help-those{
    background-image: url(images/donation4.jpg);
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.opacity{
   background-color: rgba(0,0,0,0.5); 
   padding: 0 25%;
   height: 100%;
}
.text{
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items : center;
 justify-content : center;
 text-align: center;
 
}

.help-those h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 30px;


}
.help-those p{
    color: #fff;
    margin-bottom: 30px;
    padding: 0 90px;
    font-size: 1.1rem
}
.donate-btn{
    background-color: #d61c1c;
    text-decoration: none;
    padding: 13px 19px;
    border-radius: 5px;
    color: #fff;

}